@charset "utf-8";
/* CSS Document */

body {
	background-color: grey;
}

.username {
	margin-left: 35.7%;
	margin-top: 10%;
}
.password {
	margin-left: 36%;
	margin-top: 3%;
}
.submit {
	margin-left: 45.5%;
	border-radius: 5px;
	margin-bottom: 80px;
}